pyrogram
ouo-io-api
TgCrypto
aiohttp
python-dotenv
feedparser
undetected_chromedriver
selenium
pillow
safoneapi
requests
bs4
selenium
uvloop
motor
dnspython
opencv-python-headless
aiofiles
html5lib
libtorrent
pyromod==1.5
psutil
